@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Play:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-Montserrat;
  }
  body {
    background: #f1f1f1;
  }
  h1 {
    @apply text-xl font-medium capitalize;
  }
}

body .login-body{
  @apply bg-customPurple 
}
.link {
  @apply p-2.5 flex rounded-md gap-6 items-center md:cursor-pointer cursor-default duration-300 font-medium;
}

.active {
  @apply bg-customPurple text-white;
}

.mytable{ 
  @apply py-2.5 px-2.5 text-sm text-left border-y border-gray-200;
}

th,
td {
  @apply py-[2.5px]  text-sm  border-y border-gray-200;
}
thead {
  @apply bg-neutral-100;
}
th {
  @apply font-semibold;
}
label{
  @apply font-semibold;
}
.input-field{
  @apply block py-2.5 pr-24 w-full text-sm bg-transparent border-0 border-b-2 appearance-none dark:text-black dark:border-gray-900 focus:outline-none focus:ring-0;
}
.selected-item {
  @apply bg-gray-700 text-white;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  padding: 0.5rem;
  margin-right: 0.5rem;
}

.selected-item span {
  margin-right: 0.5rem;
}

.selected-item button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.link {
  cursor: pointer;
  color: black !important;

}
.text-white {
  --tw-text-opacity: 1;
  color: #ffffff;
}


/* .link:hover-text {
  cursor: pointer;
  color: white !important;
} */

@media (min-width: 768px){

  .md\:relative {
      position: fixed !important;
  }
  }
  .max-w-\[3400px\] {
    max-width: 3400px;
    margin-left: 252px!important;
  }
  .link:hover {
    cursor: pointer;
    color: rgb(16 185 129) !important;
  }
  .h-full {
    height: 120%;
}

.max-h-48 {
  max-height: 10rem;
}